.start-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./image/fon.jpg");
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
    color: #000000; /* Темный цвет текста */
}

.start-title {
    font-size: min(7vw, 7vh); /* Размер шрифта заголовка */
}

.rules {
    font-size: min(5vw, 5vh); /* Размер шрифта заголовка */
}

.start-button,
.leaderbord-button {
    font-size: min(5vh, 5vw); /* Размер шрифта для кнопки */
    color: white; /* Цвет текста кнопки */
    background-color: #007bff; /* Цвет фона кнопки */
    border: none; /* Убираем границу */
    border-radius: 1vw; /* Закругленные углы кнопки */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
}
.leaderbord-button {
    background-color: #22aa61; /* Цвет фона кнопки */
    margin-left: 2vw;
}

.start-button:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}

.leaderboard-title {
    font-size: 2rem; /* Размер шрифта заголовка таблицы лидеров */
    margin-bottom: 10px; /* Отступ снизу */
}

.leaderboard {
    width: 80%; /* Ширина таблицы */
    margin: 0 auto; /* Центрирование таблицы */
    border-collapse: collapse; /* Убираем двойные границы */
}

.leaderboard th,
.leaderboard td {
    border: 1px solid #ddd; /* Граница ячеек */
}

.leaderboard th {
    background-color: #007bff; /* Цвет фона заголовков таблицы */
    color: white; /* Цвет текста заголовков */
}

.leaderboard tr:nth-child(even) {
    background-color: #f2f2f2; /* Цвет фона для четных строк */
}
