.start-screen-container {
    display: block;
    flex-direction: column;
    align-items: center;
    background-image: url("./image/fon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #000000; /* Темный цвет текста */
}

.start-title {
    position: relative;
    top: 10vh;
    left: 25vw;
    display: block;
    height: fit-content;
    width: fit-content;
    padding-left: 3vw;
    padding-right: 3vw;

    font-size: 6vw;
    color: white;
    background-color: black;
}

.start-button,
.leaderbord-button {
    text-align: center;
    position: relative;
    top: 20vh;
    left: 25vw;
    display: block;
    height: 10vh;
    width: 50vw;
    padding: 15px 30px; /* Отступ внутри кнопки */
    font-size: 5vw;
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границу */
    cursor: pointer; /* Курсор при наведении */
    margin-bottom: 10vh; /* Отступ снизу */
    background-color: transparent;
    text-shadow: 1px 1px 0 red, -1px 1px 0 red, 1px -1px 0 red, -1px -1px 0 red;
}

.leaderboard-title {
    font-size: 2rem; /* Размер шрифта заголовка таблицы лидеров */
    margin-bottom: 10px; /* Отступ снизу */
}

.leaderboard {
    width: 100%;
    height: 100%;
    margin-left: 25vw;
    margin-top: 10vh;
    padding: 1vw;
    text-shadow: 1px 1px 0 red, -1px 1px 0 red, 1px -1px 0 red, -1px -1px 0 red;
    border-collapse: collapse;
    color: white;
    background-color: #fa7763;
    border-radius: 1vw;
}

.leaderbord-button-back {
    background-image: url("./image//back.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 5vw;
    height: 5vw;
}
.leaderbord-button-delete {
    background-image: url("./image/delete.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 5vw;
    top: 1vw;
    width: 7vw;
    height: 7vw;
}
