.button-49 {
    background-image: url("./image/go.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 45%;
    top: 0;
    height: 7vw;
    width: 7vw;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    cursor: pointer;
    border: none;
}

.go-main-menu {
    position: absolute;
    background-image: url("../StartScreen/image/back.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

    left: 0;
    top: 0;
    height: 7vw;
    width: 7vw;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    cursor: pointer;
    border: none;
}
.restart-game {
    position: absolute;
    left: 6vw;
    top: 0;
    height: 7vw;
    width: 7vw;
    background-color: transparent;
    background-image: url("./image/restart.png");
    filter: invert(100%);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    cursor: pointer;
    border: none;
}
.music-player {
    position: absolute;
    left: 14%;
    top: 0;
    height: 7vw;
    width: 7vw;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    filter: invert(100%);
    cursor: pointer;
    border: none;
}
