.button-49 {
    position: absolute;
    left: 50%;
    top: 80vh;
    height: 7vw;
    width: 7vw;
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 50%;
    border: 3px, solid, rgb(123, 8, 8);
}
.button-49:hover {
    border: 3px, solid, rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: red;
}

.go-main-menu {
    position: absolute;
    left: 30%;
    top: 80vh;
    height: 7vw;
    width: 7vw;
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 50%;
    border: 3px, solid, rgb(123, 8, 8);
}
.restart-game {
    position: absolute;
    left: 40%;
    top: 80vh;
    height: 7vw;
    width: 7vw;
    background-color: red;
    background-image: url("./image/restart.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid rgb(123, 8, 8);
}
.music-player {
    position: absolute;
    left: 60%;
    top: 80vh;
    height: 7vw;
    width: 7vw;
    background-color: red;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid rgb(123, 8, 8);
}
