.boat {
    position: absolute;
    z-index: 10; /* Задать приоритет отображения лодки */
}

.boat-image {
    --size: min(18vh, 7vw);

    width: calc(var(--size) * 2.2);
    height: var(--size);
    transform: scale(-1, 1);
    margin-top: min(4vh, 3vw);
}
